@page "/projects"
@rendermode InteractiveServer
@attribute [Authorize]

@inject ApplicationApiClient ApiClient
@inject IToastService ToastService
@inject IDialogService DialogService
@inject WorkspaceStateService WorkspaceStateService
@inject TimeZoneService TimeZoneService
@inject NavigationManager NavigationManager

<PageTitle>Projects</PageTitle>

<h1>Projects</h1>

@if (projects == null)
{
    <FluentStack Orientation="Orientation.Vertical">
        @for (int i = 0; i < 5; i++)
        {
            <FluentSkeleton Shape="SkeletonShape.Rect" Width="100%" Height="40px" Shimmer="true" />
        }
    </FluentStack>
}
else
{
    <FluentStack Orientation="Orientation.Vertical">
        <FluentStack>
            <FluentButton Loading=@refreshLoading IconStart="@(new Icons.Regular.Size16.ArrowRedo())" Appearance="Appearance.Neutral" OnClick="RefreshProjects">
                Refresh
            </FluentButton>

            <FluentButton IconStart="@(new Icons.Regular.Size16.Add())" Appearance="Appearance.Accent" OnClick="AddProject">
                Add
            </FluentButton>
        </FluentStack>

        @if (projects.Count == 0)
        {
            <FluentMessageBar Title="No Projects Found" Intent="MessageIntent.Warning" AllowDismiss=false FadeIn=false>
                You currently have no projects. Consider creating one to get started!
            </FluentMessageBar>
        }
        else
        {
            <FluentDataGrid Items="@projects.AsQueryable()" Style="width: 100%;" MultiLine="true" Loading="@gridLoading">
                <TemplateColumn>
                    <FluentButton IconStart="@(new Icons.Regular.Size16.Open())" Appearance="Appearance.Accent" OnClick="@(() => OpenProject(context))">
                        Open
                    </FluentButton>
                </TemplateColumn>
                <PropertyColumn Property="@(p => p.Name)" Sortable="true" Title="Name" Style="align-content: center;" />
                <PropertyColumn Property="@(p => p.Description)" Sortable="true" Title="Description" Style="align-content: center;" />
                <PropertyColumn Property="@(p => p.RoleName)" Sortable="true" Title="Your Role" Style="align-content: center;" />
                <TemplateColumn Sortable="true" Title="All Access?" Style="align-content: center;">
                    @if (context.IsAllAccess)
                    {
                        <FluentBadge Appearance="Appearance.Accent">Yes</FluentBadge>
                    }
                    else
                    {
                        <FluentBadge Appearance="Appearance.Neutral">No</FluentBadge>
                    }
                </TemplateColumn>
                <PropertyColumn Property="@(p => TimeZoneService.ConvertFromUtc(p.CreatedUtc))" Format="yyyy-MM-dd hh:mm tt" Sortable="true" Title="Created" Style="align-content: center;" />
                <TemplateColumn Title="Actions" Style="align-content: center;">
                    <FluentStack>
                        @if (context is { RoleName: "Owner" or "Admin" })
                        {
                            <FluentButton IconStart="@(new Icons.Regular.Size16.Edit())" Appearance="Appearance.Neutral" OnClick="@(async () => await EditProject(context))">
                                Edit
                            </FluentButton>
                        }
                        else
                        {
                            <FluentButton Disabled=@true Title="You must be an owner or admin of a project in order to edit it" IconStart="@(new Icons.Regular.Size16.Edit())" Appearance="Appearance.Neutral">
                                Edit
                            </FluentButton>
                        }

                        @if (context is { RoleName: "Owner" or "Admin" })
                        {
                            <FluentButton IconStart="@(new Icons.Regular.Size16.Delete())" Appearance="Appearance.Neutral" OnClick="@(async () => await DeleteProject(context))">
                                Delete
                            </FluentButton>
                        }
                        else
                        {
                            <FluentButton Disabled=@true Title="You must be an owner or admin of a project in order to delete it" IconStart="@(new Icons.Regular.Size16.Delete())" Appearance="Appearance.Neutral">
                                Delete
                            </FluentButton>
                        }
                    </FluentStack>
                </TemplateColumn>
            </FluentDataGrid>
        }
    </FluentStack>
}

@code {
    private List<GetProjectsByWorkspaceIdResponseItem>? projects;
    private bool refreshLoading = false;
    private WorkspaceState activeWorkspace = null!;
    private bool gridLoading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var selectedWorkspace = await WorkspaceStateService.GetSelectedWorkspaceAsync();

            if (selectedWorkspace == null)
            {
                NavigationManager.NavigateTo("/workspaces?toast=1");
                return;
            }

            activeWorkspace = selectedWorkspace;

            await TimeZoneService.InitializeAsync();

            var response = await ApiClient.GetProjectsByWorkspaceIdAsync(activeWorkspace.WorkspaceId);

            if (response.IsSuccess && response.Data != null)
            {
                projects = response.Data.Projects;
            }
            else
            {
                ToastService.ShowError("Failed to load projects: " + response.ErrorMessage);
            }

            StateHasChanged();
        }
    }

    private async Task RefreshProjects()
    {
        refreshLoading = true;
        gridLoading = true;

        try
        {
            var response = await ApiClient.GetProjectsByWorkspaceIdAsync(activeWorkspace.WorkspaceId);

            if (response.IsSuccess && response.Data != null)
            {
                projects = response.Data.Projects;
            }
            else
            {
                ToastService.ShowError("Failed to load projects: " + response.ErrorMessage);
            }
        }
        finally
        {
            refreshLoading = false;
            gridLoading = false;
        }
    }

    private async Task AddProject()
    {
        var parameters = new DialogParameters()
        {
            TrapFocus = true,
            Modal = false
        };
        var data = new AddEditProjectDialogModel()
        {
            WorkspaceId = activeWorkspace.WorkspaceId
        };
        var dialog = await DialogService.ShowDialogAsync<AddEditProjectDialog>(data, parameters);
        var result = await dialog.Result;

        if (result is not null && !result.Cancelled)
        {
            await RefreshProjects();
        }
    }

    private void OpenProject(GetProjectsByWorkspaceIdResponseItem item)
    {
        NavigationManager.NavigateTo($"/projects/{item.Id}");
    }

    private async Task EditProject(GetProjectsByWorkspaceIdResponseItem item)
    {
        var parameters = new DialogParameters()
        {
            TrapFocus = true,
            Modal = false
        };
        var data = new AddEditProjectDialogModel()
        {
            Id = item.Id,
            WorkspaceId = activeWorkspace.WorkspaceId,
            Description = item.Description,
            Name = item.Name,
            IsAllAccess = item.IsAllAccess
        };

        var dialog = await DialogService.ShowDialogAsync<AddEditProjectDialog>(data, parameters);

        var result = await dialog.Result;

        if (result is not null && !result.Cancelled)
        {
            await RefreshProjects();
        }
    }

    private async Task DeleteProject(GetProjectsByWorkspaceIdResponseItem item)
    {
        var parameters = new DialogParameters()
        {
            TrapFocus = true,
            Modal = false
        };
        var data = new DeleteProjectDialogModel()
        {
            ProjectId = item.Id,
            WorkspaceId = activeWorkspace.WorkspaceId
        };

        var dialog = await DialogService.ShowDialogAsync<DeleteProjectDialog>(data, parameters);

        var result = await dialog.Result;

        if (result is not null && !result.Cancelled)
        {
            await RefreshProjects();
        }
    }
}
