@page "/weather"
@rendermode InteractiveServer
@attribute [OutputCache(Duration = 5)]
@attribute [Authorize]

@inject ApplicationApiClient WeatherApi
@inject IToastService ToastService

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data loaded from a backend API service.</p>

@if (forecast == null)
{
    <FluentStack Orientation="Orientation.Vertical">
        @for (int i = 0; i < 5; i++)
        {
            <FluentSkeleton Shape="SkeletonShape.Rect" Width="100%" Height="40px" Shimmer="true" />
        }
    </FluentStack>
}
else
{
    <FluentDataGrid Id="weathergrid" Items="@forecast.Forecasts.AsQueryable()" GridTemplateColumns="1fr 1fr 1fr 2fr" TGridItem="ForecastDay">
        <PropertyColumn Title="Date" Property="@(c => c!.Date)" Sortable="true" Align="Align.Start" />
        <PropertyColumn Title="Temp. (C)" Property="@(c => c!.TemperatureC)" Sortable="true" Align="Align.Center" />
        <PropertyColumn Title="Temp. (F)" Property="@(c => c!.TemperatureF)" Sortable="true" Align="Align.Center" />
        <PropertyColumn Title="Summary" Property="@(c => c!.Summary)" Sortable="true" Align="Align.End" />
    </FluentDataGrid>
}

@code {
    private GetForecastResponse? forecast;
    private string City { get; set; } = "Louisville";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await WeatherApi.GetForecastAsync(City);

            if (result.IsSuccess)
            {
                forecast = result.Data;
            }
            else
            {
                ToastService.ShowError("Failed to load weather data: " + result.ErrorMessage);
            }

            StateHasChanged();
        }
    }
}
