@page "/workspaces"
@rendermode InteractiveServer
@attribute [Authorize]

@inject ApplicationApiClient ApiClient
@inject IToastService ToastService
@inject IDialogService DialogService
@inject WorkspaceStateService WorkspaceStateService

<PageTitle>Workspaces</PageTitle>

<h1>Workspaces</h1>

@if (workspaces == null)
{
    <FluentStack Orientation="Orientation.Vertical">
        @for (int i = 0; i < 5; i++)
        {
            <FluentSkeleton Shape="SkeletonShape.Rect" Width="100%" Height="40px" Shimmer="true" />
        }
    </FluentStack>
}
else
{
    <FluentStack Orientation="Orientation.Vertical">
        <FluentStack>
            <FluentButton Loading=@refreshLoading IconStart="@(new Icons.Regular.Size16.ArrowRedo())" Appearance="Appearance.Neutral" OnClick="RefreshWorkspaces">
                Refresh
            </FluentButton>

            <FluentButton IconStart="@(new Icons.Regular.Size16.Add())" Appearance="Appearance.Accent" OnClick="AddWorkspace">
                Add
            </FluentButton>
        </FluentStack>

        @if (workspaces.Count == 0)
        {
            <FluentMessageBar Title="No Workspaces Found" Intent="MessageIntent.Warning" AllowDismiss=false FadeIn=false>
                You currently have no workspaces. Consider creating one to get started!
            </FluentMessageBar>
        }
        else
        {
            <FluentDataGrid Items="@workspaces.AsQueryable()" Style="width: 100%;" MultiLine="true" Loading="@gridLoading">
                <PropertyColumn Property="@(p => p.Id.ToString().ToUpper())" Sortable="true" Title="Workspace Id" />
                <PropertyColumn Property="@(p => p.Name)" Sortable="true" Title="Name" />
                <PropertyColumn Property="@(p => p.Description)" Sortable="true" Title="Description" />
                <PropertyColumn Property="@(p => p.CreatedUtc)" Format="yyyy-MM-dd hh:mm tt" Sortable="true" Title="Created (UTC)" />
                <TemplateColumn Title="Is Active Workspace?">
                    @if (context.Id == activeWorkspace?.WorkspaceId)
                    {
                        <FluentBadge Appearance="Appearance.Accent">Active</FluentBadge>
                    }
                    else
                    {
                        <FluentBadge Appearance="Appearance.Neutral">Inactive</FluentBadge>
                    }
                </TemplateColumn>
                <TemplateColumn Title="Actions">
                    <FluentStack>
                        <FluentButton Loading="@(loadingWorkspaceId == context.Id && loadingContext == "edit")" IconStart="@(new Icons.Regular.Size16.Edit())" Appearance="Appearance.Outline" OnClick="@(async () => await EditWorkspace(context))">
                            Edit
                        </FluentButton>

                        @if (context.Id != activeWorkspace?.WorkspaceId)
                        {
                            <FluentButton Loading="@(loadingWorkspaceId == context.Id && loadingContext == "setactive")" IconStart="@(new Icons.Regular.Size16.ArrowRight())" Appearance="Appearance.Outline" OnClick="@(async () => await SetActiveWorkspace(context))">
                                Set Active
                            </FluentButton>
                        }
                    </FluentStack>
                </TemplateColumn>
            </FluentDataGrid>
        }
    </FluentStack>
}

@code {
    private List<GetWorkspacesResponseItem>? workspaces;
    private bool refreshLoading = false;
    private WorkspaceState? activeWorkspace;
    private bool gridLoading = false;
    private Guid? loadingWorkspaceId = null;
    private string? loadingContext = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            activeWorkspace = await WorkspaceStateService.GetWorkspaceAsync();

            var response = await ApiClient.GetWorkspacesAsync();

            workspaces = response.Workspaces;

            StateHasChanged();
        }
    }

    private async Task RefreshWorkspaces()
    {
        refreshLoading = true;
        gridLoading = true;

        var response = await ApiClient.GetWorkspacesAsync();

        workspaces = response.Workspaces;

        ToastService.ShowSuccess("Workspaces refreshed successfully.");

        refreshLoading = false;
        gridLoading = false;
    }

    private async Task AddWorkspace()
    {
        var parameters = new DialogParameters()
        {
            TrapFocus = true,
            Modal = false
        };
        var data = new AddEditWorkspaceDialogModel()
        {

        };
        var dialog = await DialogService.ShowDialogAsync<AddEditWorkspaceDialog>(data, parameters);
        var result = await dialog.Result;

        if (result is not null && !result.Cancelled)
        {
            await RefreshWorkspaces();
        }
    }

    private async Task SetActiveWorkspace(GetWorkspacesResponseItem item)
    {
        loadingWorkspaceId = item.Id;
        loadingContext = "setactive";

        await Task.Delay(1000);

        activeWorkspace = new WorkspaceState()
        {
            WorkspaceId = item.Id,
            WorkspaceName = item.Name
        };

        await WorkspaceStateService.SetWorkspaceAsync(new WorkspaceState()
        {
            WorkspaceId = item.Id,
            WorkspaceName = item.Name
        });

        ToastService.ShowSuccess($"Active workspace set to '{item.Name}'.");

        loadingWorkspaceId = null;
        loadingContext = null;
    }

    private async Task EditWorkspace(GetWorkspacesResponseItem item)
    {
        loadingWorkspaceId = item.Id;
        loadingContext = "edit";

        var parameters = new DialogParameters()
        {
            TrapFocus = true,
            Modal = false
        };
        var data = new AddEditWorkspaceDialogModel()
        {
            Id = item.Id,
            Name = item.Name,
            Description = item.Description
        };
        var dialog = await DialogService.ShowDialogAsync<AddEditWorkspaceDialog>(data, parameters);

        loadingWorkspaceId = null;
        loadingContext = null;

        var result = await dialog.Result;

        if (result is not null && !result.Cancelled)
        {
            await RefreshWorkspaces();
        }
    }
}
