@page "/workspaces"
@rendermode InteractiveServer
@attribute [Authorize]

@inject ApplicationApiClient ApiClient
@inject IToastService ToastService
@inject IDialogService DialogService
@inject WorkspaceStateService WorkspaceStateService
@inject TimeZoneService TimeZoneService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<PageTitle>Workspaces</PageTitle>

<h1>Workspaces</h1>

@if (workspaces == null)
{
    <FluentStack Orientation="Orientation.Vertical">
        @for (int i = 0; i < 5; i++)
        {
            <FluentSkeleton Shape="SkeletonShape.Rect" Width="100%" Height="40px" Shimmer="true" />
        }
    </FluentStack>
}
else
{
    <FluentStack Orientation="Orientation.Vertical">
        <FluentStack>
            <FluentButton Loading=@refreshLoading IconStart="@(new Icons.Regular.Size16.ArrowRedo())" Appearance="Appearance.Neutral" OnClick="RefreshWorkspaces">
                Refresh
            </FluentButton>

            <FluentButton IconStart="@(new Icons.Regular.Size16.Add())" Appearance="Appearance.Accent" OnClick="AddWorkspace">
                Add
            </FluentButton>
        </FluentStack>

        @if (workspaces.Count == 0)
        {
            <FluentMessageBar Title="No Workspaces Found" Intent="MessageIntent.Warning" AllowDismiss=false FadeIn=false>
                You currently have no workspaces. Consider creating one to get started!
            </FluentMessageBar>
        }
        else
        {
            <FluentDataGrid Items="@workspaces.AsQueryable()" Style="width: 100%;" MultiLine="true" Loading="@gridLoading">
                <PropertyColumn Property="@(p => p.Name)" Sortable="true" Title="Name" Style="align-content: center;" />
                <PropertyColumn Property="@(p => p.Description)" Sortable="true" Title="Description" Style="align-content: center;" />
                <PropertyColumn Property="@(p => p.RoleName)" Sortable="true" Title="Your Role" Style="align-content: center;" />
                <PropertyColumn Property="@(p => TimeZoneService.ConvertFromUtc(p.CreatedUtc))" Format="yyyy-MM-dd hh:mm tt" Sortable="true" Title="Created" Style="align-content: center;" />
                <TemplateColumn Title="Is Workspace Selected?" Style="align-content: center;">
                    @if (context.Id == activeWorkspace?.WorkspaceId)
                    {
                        <FluentBadge Appearance="Appearance.Accent">Yes</FluentBadge>
                    }
                    else
                    {
                        <FluentBadge Appearance="Appearance.Neutral">No</FluentBadge>
                    }
                </TemplateColumn>
                <TemplateColumn Style="align-content: center;">
                    <FluentMenuButton Text="Actions" OnMenuChanged="@(args => HandleWorkspaceMenuChanged(args, context))">
                        @if (context is { RoleName: "Owner" or "Admin" })
                        {
                            <FluentMenuItem Id="edit">
                                <FluentIcon Value="@(new Icons.Regular.Size16.Edit())" Slot="start" />
                                Edit
                            </FluentMenuItem>
                        }
                        else
                        {
                            <FluentMenuItem Id="edit" Disabled="true">
                                <FluentIcon Value="@(new Icons.Regular.Size16.Edit())" Slot="start" />
                                Edit
                            </FluentMenuItem>
                        }

                        @if (context is { RoleName: "Owner" or "Admin" })
                        {
                            <FluentMenuItem Id="delete">
                                <FluentIcon Value="@(new Icons.Regular.Size16.Delete())" Slot="start" />
                                Delete
                            </FluentMenuItem>
                        }
                        else
                        {
                            <FluentMenuItem Id="delete" Disabled="true">
                                <FluentIcon Value="@(new Icons.Regular.Size16.Delete())" Slot="start" />
                                Delete
                            </FluentMenuItem>
                        }

                        @if (context.Id != activeWorkspace?.WorkspaceId)
                        {
                            <FluentMenuItem Id="select">
                                <FluentIcon Value="@(new Icons.Regular.Size16.ArrowRight())" Slot="start" />
                                Select
                            </FluentMenuItem>
                        }
                        else
                        {
                            <FluentMenuItem Id="deselect">
                                <FluentIcon Value="@(new Icons.Regular.Size16.ArrowLeft())" Slot="start" />
                                Deselect
                            </FluentMenuItem>
                        }
                    </FluentMenuButton>
                </TemplateColumn>
            </FluentDataGrid>
        }
    </FluentStack>
}

@code {
    private List<GetWorkspacesResponseItem>? workspaces;
    private bool refreshLoading = false;
    private WorkspaceState? activeWorkspace;
    private bool gridLoading = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
            var query = QueryHelpers.ParseQuery(uri.Query);

            if (query.TryGetValue("toast", out var toastValue) && toastValue == "1")
            {
                ToastService.ShowWarning("No workspace has been selected. Please select a workspace before continuing with projects.");

                var newUri = uri.GetLeftPart(UriPartial.Path);

                await JS.InvokeVoidAsync("history.replaceState", new { }, null, newUri);
            }

            await TimeZoneService.InitializeAsync();

            activeWorkspace = await WorkspaceStateService.GetSelectedWorkspaceAsync();

            var response = await ApiClient.GetWorkspacesAsync();

            if (response.IsSuccess && response.Data != null)
            {
                workspaces = response.Data.Workspaces;
            }
            else
            {
                ToastService.ShowError("Failed to load workspaces: " + response.ErrorMessage);
            }

            StateHasChanged();
        }
    }

    private async Task HandleWorkspaceMenuChanged(MenuChangeEventArgs args, GetWorkspacesResponseItem item)
    {
        switch (args.Id)
        {
            case "edit":
                await EditWorkspace(item);
                break;
            case "delete":
                await DeleteWorkspace(item);
                break;
            case "select":
                await SetActiveWorkspace(item);
                break;
            case "deselect":
                await RemoveActiveWorkspace(item);
                break;
        }
    }

    private async Task RefreshWorkspaces()
    {
        refreshLoading = true;
        gridLoading = true;

        try
        {
            var response = await ApiClient.GetWorkspacesAsync();

            if (response.IsSuccess && response.Data != null)
            {
                workspaces = response.Data.Workspaces;
            }
            else
            {
                ToastService.ShowError("Failed to load workspaces: " + response.ErrorMessage);
            }
        }
        finally
        {
            refreshLoading = false;
            gridLoading = false;
        }
    }

    private async Task AddWorkspace()
    {
        var parameters = new DialogParameters()
        {
            TrapFocus = true,
            Modal = false
        };
        var data = new AddEditWorkspaceDialogModel()
        {

        };
        var dialog = await DialogService.ShowDialogAsync<AddEditWorkspaceDialog>(data, parameters);
        var result = await dialog.Result;

        if (result is not null && !result.Cancelled)
        {
            await RefreshWorkspaces();
        }
    }

    private async Task SetActiveWorkspace(GetWorkspacesResponseItem item)
    {
        activeWorkspace = new WorkspaceState()
        {
            WorkspaceId = item.Id,
            WorkspaceName = item.Name
        };

        await WorkspaceStateService.SetSelectedWorkspaceAsync(new WorkspaceState()
        {
            WorkspaceId = item.Id,
            WorkspaceName = item.Name
        });

        ToastService.ShowSuccess($"Active workspace set to '{item.Name}'.");
    }

    private async Task RemoveActiveWorkspace(GetWorkspacesResponseItem item)
    {
        await WorkspaceStateService.RemoveSelectedWorkspaceAsync();

        activeWorkspace = null;

        ToastService.ShowSuccess($"Workspace '{item.Name}' no longer active.");
    }

    private async Task EditWorkspace(GetWorkspacesResponseItem item)
    {
        var parameters = new DialogParameters()
        {
            TrapFocus = true,
            Modal = false
        };
        var data = new AddEditWorkspaceDialogModel()
        {
            Id = item.Id,
            Name = item.Name,
            Description = item.Description
        };

        var dialog = await DialogService.ShowDialogAsync<AddEditWorkspaceDialog>(data, parameters);

        var result = await dialog.Result;

        if (result is not null && !result.Cancelled)
        {
            await RefreshWorkspaces();
        }
    }

    private async Task DeleteWorkspace(GetWorkspacesResponseItem item)
    {
        var parameters = new DialogParameters()
        {
            TrapFocus = true,
            Modal = false
        };
        var data = new DeleteWorkspaceDialogModel()
        {
            WorkspaceId = item.Id
        };

        var dialog = await DialogService.ShowDialogAsync<DeleteWorkspaceDialog>(data, parameters);

        var result = await dialog.Result;

        if (result is not null && !result.Cancelled)
        {
            if (activeWorkspace != null && activeWorkspace.WorkspaceId == item.Id)
            {
                await WorkspaceStateService.RemoveSelectedWorkspaceAsync();

                activeWorkspace = null;

                ToastService.ShowInfo($"Your active workspace has been deselected due to it being deleted");
            }

            await RefreshWorkspaces();
        }
    }
}
